.action-bar {
    position: absolute;
    top: -6px;
    right: 4px;
    display: flex;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.action-icon {
    cursor: pointer;
    margin: 0;
    padding: 0px 1px;
    line-height: 1;
    border-right: 1px solid #ddd;
    cursor: pointer;
    display: flex;
}

.action-icon svg {
    width: 11px;
    height: 11px;
    line-height: 0;
}

.action-icon:last-child {
    border-right: 0;
}