.layout-area {
    border: 1px dotted #ececec;
    padding: 10px;
    margin: 0px;
    min-height: 60px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex: auto;
}

.layout-area.no-components {
    border: 1px solid #e7e7e7;
    background: rgb(245, 245, 245);
}

.layout-area.layout-row > div.layout-area:not(:first-child) {
	margin-left: 10px;
}

.layout-area.area-selected {
    border-style: solid;
    border-color: #ace4ff;
}

.layout-area:empty {
    border: 1px solid #ccc;
}

.layout-area:hover {
    border-color: #3f7155;
}

.layout-row {
    flex-direction: row;
}

.layout-column {
    flex-direction: column;
}


.area-loader {
    position: relative;
    width: 3em;
    height: 3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.area-loader-component {
    width: 2em;
    height: 2em;
    background-color: rgba(66, 66, 66, 0.1);
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.area-loader-component>div {
    position: relative;
    width: 1em;
    height: 1em;
    background-color: #515151;
    animation: arealoaderanimation 2s infinite linear;
    border-radius: 4px;
}

@keyframes arealoaderanimation {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    15% {
        transform: translate(1em, 0) rotate(90deg);
    }

    25% {
        transform: translate(1em, 0) rotate(90deg);
    }

    40% {
        transform: translate(1em, 1em) rotate(90deg);
    }

    50% {
        transform: translate(1em, 1em) rotate(90deg);
    }

    65% {
        transform: translate(0, 1em) rotate(0deg);
    }

    75% {
        transform: translate(0, 1em) rotate(0deg);
    }

    90% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

/*Property*/

.area-property-window {
    position: absolute;
    background: #fff;
    padding: 20px;
    border: 1px solid #e8e8eb;
    box-shadow: 0 3px 15px -3px rgba(13, 20, 33, .13);
    z-index: 5;
    border-radius: 6px;
    padding-top: 41px;
    left: 0;
    top: 0;
}

.property-window-close {
    position: absolute;
    right: 0;
    top: 2px;
    line-height: 0;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
}

.property-window-close:hover {
    color: #ff3939;
}

.property-window-close {
    border: 0;
    background: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    color: #999;
    z-index: 1;
}

.property-window-header {
    position: absolute;
    left: 0;
    top: 0;
    color: #444;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    cursor: move;
}

.property-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0px;
}

.property-input {
    margin-left: 27px;
    max-width: 80px;
}

.property-container label {
    font-size: 14px;
}

/*New BTN*/
.new-component-area {
    position: absolute;
    /* line-height: 0; */
    line-height: 1;
    display: none;
    justify-content: center;
    box-sizing: border-box;
}

.layout-area:hover>.new-component-area {
    display: flex;
}

.btn-new-component {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    padding: 2px;
}

.btn-new-component:hover {
    background: #eaeaea;
}

.layout-area.layout-row .new-component-area,
.layout-area .new-component-area {
    height: 100%;
    width: auto;
    right: 0;
    top: 0;
    align-items: center;
}

.layout-area.layout-column .new-component-area {
    top: initial;
    bottom: 0;
    width: 100%;
    height: 18px;
}

.layout-area.no-components .new-component-area {
    left: 0;
    top: 50% !important;
    transform: translate(0, -50%);
    height: 18px !important;
    width: 100% !important;
}

.layout-area .btn-new-component::before {
    position: absolute;
    content: "";
    background: #c6faff;
    display: none;
}

.layout-area.layout-row .btn-new-component::before {
    width: 2px;
    left: 100%;
    top: 0;
    height: 100%;
}

.layout-area.layout-column .btn-new-component::before {
    width: 100%;
    left: 0px;
    top: 100%;
    height: 2px;
}

.layout-area.no-components .new-component-area .btn-new-component::before {
    width: 100%;
    left: 0px;
    top: 50%;
    height: 2px;
    z-index: -1;
}

.layout-area .btn-new-component:hover::before {
    display: block;
}

/*Component Browser*/

.component-browser {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
    background: #fff;
    border: 1px solid #e8e8eb;
    border-radius: 6px;
    z-index: 9;
    padding-top: 0;
    box-shadow: 0 3px 15px -3px rgba(13, 20, 33, .13);
}

.comp-browser-head {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 4px;
}

.comp-browser-head label {
    color: #444;
}

.comp-browser-head>button {
    border: 0;
    background: transparent;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    color: #999;
}

.comp-browser-head>button:hover {
    color: #ff3939;
}

.component-search-input {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px 8px;
    background: #f4f4f4;
}

.component-container {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    max-height: 120px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.component-item {
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.component-item svg {
    width: 20px;
    padding: 2px;
    height: 20px;
    margin: 4px;
    border: 1px solid #eee;
    border-radius: 3px;
    background: #fff;
}

.component-item:hover {
    background: #f9f9f9;
}

.component-item label {
    margin-left: 5px;
    line-height: 1;
    font-size: 14px;
}