#layoutData,
.data-generate-btn {
    display: none;
}

.ui-creator {
    background: #fff;
    padding: 10px;
    margin: 20px 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.ui-creator * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.custom-areas {
    margin-bottom: 10px;
}

.custom-areas:empty {
    margin: 0;
}

.new-area-btn {
    display: flex;
    background: #fff;
    border: 0;
    border-radius: 6px;
    padding: 5px;
    margin: 5px auto;
    cursor: pointer;
}

.new-area-btn:hover {
    background: #f0f0f0;
}

.new-area-btn svg {
    width: 24px;
}