/*Column*/
.layout-column-wraper {
    width: 100%;
}

.column-wrapper {
    display: flex;
}

.column-orientation-choser {
    display: flex;
    justify-content: center;
}


.column-orientation-choser div.orient svg {
    fill: #b0b0b0;
}

.column-orientation-choser div.orient:hover {
    background: #f7f7f7;
    border-radius: 11px;
}

.column-orientation-choser div.orient {
    margin: 0 4px;
    line-height: 0;
    padding: 6px;
    box-sizing: border-box;
}

.column-orientation-choser div.orient:hover svg {
    fill: #575757;
}
