/*Component*/
.component-wrapper {
    position: relative;
    width: 100%;
}

.component-highlight {
    background: rgba(249, 249, 65, 0.2);
}

.component-wrapper .control-section {
    position: absolute;
    right: 0;
    top: 50%;
    flex-direction: column;
    background: rgba(227, 227, 227, 0.8);
    display: none;
    width: 25px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .05);
    z-index: 9;
    transform: translate(0, -50%);
}

.component-wrapper:hover .control-section {
    display: flex;
}

.control-section .component-action-btn {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
    height: 12px;
}

.component-action-btn * {
    pointer-events: none;
}

.control-section .component-action-btn svg {
    width: 10px;
}

.control-section .component-action-btn:last-child {
    border-bottom: 0;
}

/*Column*/
.layout-column-wraper {
    width: 100%;
}

.column-wrapper {
    display: flex;
}

.column-orientation-choser {
    display: flex;
    justify-content: center;
}

/*paragraph*/
.layout-p-wraper p {
    text-align: inherit;
}

/*Heading*/

.heading-changer,
.sub-control {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 4px;
    z-index: 9;
    padding: 4px 0;
}

.heading-changer li,
.sub-control li {
    text-align: center;
    list-style: none;
    padding: 2px 5px;
    font-size: 12px;
    cursor: pointer;
}

.heading-changer li:hover,
.sub-control li:hover {
    background: #6dc6e1;
}


.layout-h-wraper {
    position: relative;
    width: 100%;
}

.layout-h-wraper h1,
.layout-h-wraper h2,
.layout-h-wraper h3,
.layout-h-wraper h4,
.layout-h-wraper h5,
.layout-h-wraper h6 {
    text-align: inherit;
}

/*Common*/
.layout-p-wraper,
.layout-h-wraper {
    width: 100%;
    display: block;
}


.ui-creator * :focus-visible {
    outline: none;
}

/*Editor*/
.layout-area .editor {
    width: 100%;
}



/*Image Component*/
.layout-image {
    line-height: 0;
}

.layout-image img {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
}