/*Component*/
.component-wrapper {
    position: relative;
    width: 100%;
}

.component-highlight {
    background: rgba(249, 249, 65, 0.2);
}

.component-wrapper .control-section {
    position: absolute;
    right: 0;
    top: 50%;
    flex-direction: column;
    background: rgba(227, 227, 227, 0.8);
    display: none;
    width: 25px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .05);
    z-index: 9;
    transform: translate(0, -50%);
}

.component-wrapper:hover .control-section {
    display: flex;
}

.control-section .component-action-btn {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
    height: 12px;
}

.component-action-btn * {
    pointer-events: none;
}

.control-section .component-action-btn svg {
    width: 10px;
}

.control-section .component-action-btn:last-child {
    border-bottom: 0;
}

/*Column*/
.layout-column-wraper {
    width: 100%;
}

.column-wrapper {
    display: flex;
}

.column-orientation-choser {
    display: flex;
    justify-content: center;
}

/*paragraph*/
.layout-p-wraper p {
    text-align: inherit;
}

/*Heading*/
.ui-creator ul.sub-control,
.ui-creator .heading-changer {
    padding: 0;
    margin: 0;
}

.ui-creator ul.sub-control li {
    margin: 0;
}

.heading-changer,
.sub-control {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 4px;
    z-index: 9;
    padding: 4px 0;
}

.heading-changer li,
.sub-control li {
    text-align: center;
    list-style: none;
    padding: 4px 5px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
}

.heading-changer li:last-child,
.sub-control li:last-child {
    border-bottom: 0;
}

.heading-changer li:hover,
.sub-control li:hover {
    background: #dfdfdf;
}


.layout-h-wraper {
    position: relative;
    width: 100%;
}

.layout-h-wraper h1,
.layout-h-wraper h2,
.layout-h-wraper h3,
.layout-h-wraper h4,
.layout-h-wraper h5,
.layout-h-wraper h6 {
    text-align: inherit;
}

/*List*/
.ui-creator ul,
.ui-creator ol {
    list-style: revert;
    padding-left: 15px;
    margin: 0;
}

/*Common*/
.layout-p-wraper,
.layout-h-wraper {
    width: 100%;
    display: block;
}


.ui-creator * :focus-visible {
    outline: none;
}

/*Editor*/
.layout-area .editor {
    width: 100%;
}



/*Image Component*/
.layout-image {
    line-height: 0;
}

.layout-image img {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
}

/*Link*/

.ui-link-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    min-width: 320px;
}

.ui-link-window-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ui-link-window-url,
.ui-link-window-new-window {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.ui-link-window-content {
    padding-bottom: 10px;
}

.ui-link-window-content #linkInput {
    margin-left: 10px;
    border: 1px solid #ddd;
    padding: 4px 5px;
    border-radius: 3px;
}

.ui-link-window-footer {
    padding: 8px 15px;
    background: #f2f2f2;
}

.ui-link-window-footer button {
    padding: 4px 15px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}