
/*paragraph*/
.layout-p-wraper p {
    text-align: inherit;
}


/*List*/
.ui-creator ul,
.ui-creator ol {
    list-style: revert;
    padding-left: 15px;
    margin: 5px 0;
}

/*Common*/
.layout-p-wraper,
.layout-h-wraper {
    width: 100%;
    display: block;
}


.ui-creator * :focus-visible {
    outline: none;
}

/*Editor*/
.layout-area .editor {
    width: 100%;
}



/*Image Component*/
.layout-image {
    line-height: 0;
}

.layout-image img {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
}

/*Link*/

.ui-link-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    min-width: 320px;
    z-index: 999;
}

.ui-link-window-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ui-link-window-url,
.ui-link-window-new-window {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.ui-link-window-content {
    padding-bottom: 10px;
}

.ui-link-window-content #linkInput {
    margin-left: 10px;
    border: 1px solid #ddd;
    padding: 4px 5px;
    border-radius: 3px;
}

.ui-link-window-footer {
    padding: 8px 15px;
    background: #f2f2f2;
}

.ui-link-window-footer button {
    padding: 4px 15px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}