/*Resize Pointers*/

.resize-points,
.div-resize-points {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: none;
}

.resize-point:hover {
    background: #55d5b7;
}

.layout-image.resize {
    position: relative;
    line-height: 0;
    height: max-content;
}

.layout-image.resize img {
    border: 1px solid #55d5b7;
}

.layout-image.resize>.resize-points,
.resize>.div-resize-points {
    display: block;
}

.resize-point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid #55d5b7;
    border-radius: 50%;
    pointer-events: all;
}

.resize-point:nth-child(1) {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.resize-point:nth-child(2) {
    top: -5px;
    left: 50%;
    margin-left: -5px;
    cursor: ns-resize;
}

.resize-point:nth-child(3) {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.resize-point:nth-child(4),
.div-resize-points .resize-point:nth-child(2) {
    top: 50%;
    right: -5px;
    margin-top: -5px;
    cursor: ew-resize;
    left: initial;
}

.resize-point:nth-child(5) {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}

.resize-point:nth-child(6) {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    cursor: ns-resize;
}

.resize-point:nth-child(7) {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.resize-point:nth-child(8),
.div-resize-points .resize-point:nth-child(1) {
    top: 50%;
    left: -5px;
    margin-top: -5px;
    cursor: ew-resize;
}

.resize-min {
    background: rgb(250, 183, 183);
}

.resize-max {
    background: rgb(183, 250, 233);
}

.resize-dimensions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .05);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.resize-dimensions::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    border-top: 1px dashed #f00;
}